<div class="container-fluid py-3">
    <div class="row w-100 m-0">
        <div class="col">
            <div class="card shadow-sm">
                <div class="card-header bg-white border-0">
                    <div class="row">
                        <div class="col-12 col-sm-6">
                            <h4>Locations</h4>
                        </div>
                        <div class="col-12 col-sm-6">
                            <div class="d-flex justify-content-end align-items-center">
                                <button class="btn btn-dark me-1" (click)="openLocationDialog(locationModal)">Add Location</button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="table-responsive">
                    <table class="table table-flush m-0">
                        <thead class="thead-light">
                          <tr>
                            <th scope="col">Loc.ID</th>
                            <th scope="col">Name</th>
                            <th scope="col">Longitude [m]</th>
                            <th scope="col">Latitude [m]</th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr *ngFor="let cat of locationsList; index as idx">
                            <th scope="row">{{cat.locationId}}</th>
                            <td>{{cat.name}}</td>
                            <td>{{cat.xcoord}}</td>
                            <td>{{cat.ycoord}}</td>
                            <td>
                                <button type="button" class="btn btn-sm btn-dark me-1 mb-1" (click)="openLocationDialog(locationModal,cat )" >Update</button>
                                <button type="button" class="btn btn-sm btn-danger me-1 mb-1" (click)="delete(cat.locationId)">Delete</button>
                            </td>
                          </tr>                          
                        </tbody>
                      </table>
                </div>
                <nav aria-label="Page navigation example">
                    <ul class="pagination justify-content-end">
                      <li class="page-item">
                        <button class="btn btn-dark me-1" (click)="prevPage()" [disabled] = !prevPageEnabled>Previous</button>                        
                      </li>
                      <li class="page-item">
                        <button class="btn me-1" disabled>{{pageable.page+1}}</button>                        
                      </li>                      
                      <li class="page-item">
                        <button class="btn btn-dark me-1" (click)="nextPage()" [disabled] = !nextPageEnabled>Next</button>                        
                      </li>
                    </ul>
                  </nav>
            </div>
        </div>
    </div>
</div>

<ng-template #locationModal let-modal class="bg-modal">
    <app-addlocation [locationInfo]="locationInfo" (closeModal)="closeModal(locationModal)"></app-addlocation>
</ng-template>