<div class="container-fluid py-3">
    <div class="row w-100 m-0">
        <div class="col">
            <div class="card shadow-sm">
                <div class="card-header bg-white border-0">
                    <div class="row">
                        <div class="col-12 col-sm-6">
                            <h4>Bookings</h4>
                        </div>
                        <div class="col-12 col-sm-6">
                            <div class="d-flex justify-content-end align-items-center">
                              <button class="btn btn-dark me-1"   (click)="openBookingDialog(bookingModal)">Add Booking</button>
                              <a type="button" class="btn btn-dark me-1" [routerLink]="['/bookings/categories']">Manage Categories</a>
                              <a type="button" class="btn btn-dark me-1" [routerLink]="['/bookings/locations']">Manage Locations</a>
                            </div>
                        </div>
                    </div>
                    
                </div>
                <div class="table-responsive">
                    <table class="table table-flush m-0">
                        <thead class="thead-light">
                            <tr>
                                <th scope="col">Booking Nr</th>
                                <th scope="col">User</th>
                                <th scope="col">From</th>
                                <th scope="col">To</th>
                                <th scope="col">Distance</th>
                                <th scope="col">Category</th>
                                <th scope="col">Price per km</th>
                                <th scope="col">Fare</th>
                              </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let bkg of bookingsList; index as idx">
                                <td>{{ bkg.bookingId }}</td>
                                <td>{{ bkg.user.fullName }}</td>
                                <td>{{ bkg.from.name }}</td>
                                <td>{{ bkg.to.name }}</td>
                                <td>{{ bkg.distance | number: '1.3'}} km</td>
                                <td>{{ bkg.category.name }}</td>
                                <td>{{ bkg.category.pricePerKM | currency:'EUR':'symbol':'1.2' }}</td>
                                <td>{{ bkg.fare | currency:'EUR':'symbol':'1.2'}}</td>
                                <td>
                                  <button type="button" class="btn btn-sm btn-dark me-1" (click)="openBookingDialog(bookingModal, bkg)" >Update</button>
                                  <button type="button" class="btn btn-sm btn-danger me-1">Delete</button>
                                </td>
                              </tr>                       
                        </tbody>
                      </table>
                </div>
            </div>
        </div>
    </div>
</div>


<!-- create / update booking -->

<ng-template #bookingModal let-modal>
    <app-addbooking [bookingInfo]="bookingInfo" (closeModal)="closeModal(bookingModal)"></app-addbooking>
</ng-template>


<!--

<ng-template #categoryModal let-modal class="bg-modal">
    <app-addcategory [categoryInfo]="categoryInfo" (closeModal)="closeModal(categoryModal)"></app-addcategory>
</ng-template>


<ng-template #productViewModal let-modal>
    <app-viewproduct [productInfo]="productInfo" (closeModel)="closeModel(productViewModal)"></app-viewproduct>
</ng-template> 
-->
